#define IDI_MAIN  100
#define IDI_MP3  101
#define IDI_MP4  102
#define IDI_AVI  103
#define IDI_FLAC  104
#define IDI_MKV  105
#define IDI_MOV  106
#define IDI_MPG  107
#define IDI_3GP  108
#define IDI_AAC  109
#define IDI_APE  110
#define IDI_DAT  111
#define IDI_FLV  112
#define IDI_M4A  113
#define IDI_MTS  114
#define IDI_RM  115
#define IDI_RMVB  116
#define IDI_TTA  117
#define IDI_VOB  118
#define IDI_WAV  119
#define IDI_WMA  120
#define IDI_WMV  121

IDI_MAIN  ICON  "xyplayer.ico"
IDI_MP3  ICON  "src/res/icons/mp3.ico"
IDI_MP4  ICON  "src/res/icons/mp4.ico"
IDI_AVI  ICON  "src/res/icons/avi.ico"
IDI_FLAC ICON  "src/res/icons/flac.ico"
IDI_MKV  ICON  "src/res/icons/mkv.ico"
IDI_MOV  ICON  "src/res/icons/mov.ico"
IDI_MPG  ICON  "src/res/icons/mpg.ico"
IDI_3GP ICON  "src/res/icons/3gp.ico"
IDI_AAC  ICON  "src/res/icons/aac.ico"
IDI_APE  ICON  "src/res/icons/ape.ico"
IDI_DAT  ICON  "src/res/icons/dat.ico"
IDI_FLV ICON  "src/res/icons/flv.ico"
IDI_M4A  ICON  "src/res/icons/m4a.ico"
IDI_MTS  ICON  "src/res/icons/mts.ico"
IDI_RM  ICON  "src/res/icons/rm.ico"
IDI_RMVB ICON  "src/res/icons/rmvb.ico"
IDI_TTA  ICON  "src/res/icons/tta.ico"
IDI_VOB  ICON  "src/res/icons/vob.ico"
IDI_WAV  ICON  "src/res/icons/wav.ico"
IDI_WMA ICON  "src/res/icons/wma.ico"
IDI_WMV  ICON  "src/res/icons/wmv.ico"
